<div class="login-container">
  <h1>Sign in Eyebook</h1>
  <img src="./assets/img/eyebook-logo.png" alt="eyebook" />
  <form (ngSubmit)="onSubmit()" [formGroup]="rfSignIn">
    <mat-form-field appearance="outline">
      <mat-label>Username / Email</mat-label>
      <input matInput formControlName="emailOrUsername" autocomplete="off" />
      <mat-error
        *ngIf="
          !rfSignIn.get('emailOrUsername')?.valid &&
          rfSignIn.get('emailOrUsername')?.touched
        "
        >Username / Email is required</mat-error
      >
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          !rfSignIn.get('password')?.valid && rfSignIn.get('password')?.touched
        "
        >Password is required</mat-error
      >
    </mat-form-field>
    <ul class="errors" *ngIf="errorsSignIn$ | async">
      <li class="error-item" *ngFor="let error of errorsSignIn$ | async">
        {{ error }}
      </li>
    </ul>
    <div class="option">
      <p>
        Do not have an account?
        <a [routerLink]="['/register']">Register now</a>
      </p>
      <div class="submit-btn-wrapper">
        <button
          mat-raised-button
          type="submit"
          [disabled]="!rfSignIn.valid || (isSubmit$ | async) === 'loading'"
          color="primary"
        >
          <mat-icon *ngIf="(isSubmit$ | async) === 'loading'">
            loop_outline
          </mat-icon>
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
