<div class="post-container">
  <div class="header">
    <div class="user">
      <div class="user-wrapper">
        <div class="avatar">
          <img src="./assets/img/chi-hang-xom.jpg" alt="photoUrl" />
        </div>
        <div class="user-title">
          <h4 class="display-name">Trung Nguyên</h4>
          <span class="time-left">3 hour</span>
        </div>
      </div>
      <div class="option">
        <button mat-icon-button [matMenuTriggerFor]="userOptionMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #userOptionMenu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">turned_in_not</mat-icon>
            <span>Save post</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">notifications</mat-icon>
            <span>Turn off notification for this post</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="material-icons-outlined">announcement</mat-icon>
            <span>Report this post</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="title">Củ chuối</div>
  </div>
  <div class="body">
    <div class="content-text"></div>
    <img src="./assets/img/leona.jpg" alt="test-post" />
  </div>
  <div class="footer">
    <button
      mat-stroked-button
      (click)="handleToggleLike()"
      [color]="likeCheck && 'warn'"
      [class.like-active]="likeCheck"
    >
      <mat-icon>favorite{{ !likeCheck && "_outline" }}</mat-icon>
      <span class="count">{{ likeCount }} Likes</span>
    </button>
    <button mat-stroked-button>
      <mat-icon>comment_outline</mat-icon>
      <span class="count">9 Comments</span>
    </button>
    <button mat-stroked-button>
      <mat-icon>share_outline</mat-icon>
      <span class="count">4 Shares</span>
    </button>
  </div>
</div>
