<nav class="navbar" [class.scrolltop]="navbarChage">
  <div class="menu">
    <a [routerLink]="['/']" class="brand">
      <img src="./assets/img/eyebook-logo.png" alt="" />
    </a>
    <ul class="nav-list">
      <li class="nav-item">
        <a [routerLink]="['post']" routerLinkActive="selected" class="nav-link">
          home
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['watch']"
          routerLinkActive="selected"
          class="nav-link"
        >
          watch
        </a>
      </li>
      <li class="nav-item">
        <a
          [routerLink]="['profile', 1]"
          routerLinkActive="selected"
          class="nav-link"
        >
          profile
        </a>
      </li>
    </ul>
  </div>
  <div class="user">
    <div class="flex-wrapper">
      <form class="search">
        <button
          [type]="isSearchHide ? 'button' : 'submit'"
          (click)="handleSearchDisplay($event)"
        >
          <mat-icon>search</mat-icon>
        </button>
        <div
          class="input"
          [style.margin-right]="isSearchHide ? '-9.5rem' : '0'"
        >
          <input
            type="text"
            placeholder="Search"
            #searchRef
            (blur)="isSearchHide = true"
          />
          <span></span>
        </div>
      </form>
      <div mat-icon-button [matMenuTriggerFor]="menu" class="avatar">
        <img src="./assets/img/chi-hang-xom.jpg" alt="" />
        <mat-icon>arrow_drop_down</mat-icon>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Setting</span>
      </button>
      <button mat-menu-item>
        <mat-icon matBadge="9">notifications</mat-icon>
        <span>Notifycations</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Sign out</span>
      </button>
    </mat-menu>
  </div>
</nav>
