$color-global: #e0e5f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-global;
}

body {
  min-height: 100vh;
  background: linear-gradient(-45deg, #0f071b, #051122);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 50%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 20px;
}

@media only screen and (max-width: 971px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 620px) {
  .container {
    max-width: 100%;
    padding: 50px 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 0;
  background: #0f071b;
}

::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f02875;
}
